<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USER</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/User/userlogin.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header text-white" style="background: #0b091f;">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="card-body-change-pass">
                        <p class="bg-danger text-white">

                        </p>

                        <form>
                            <!-- <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Enter New Password">
                            </div> -->
                            <div class="mb-3">
                                <label class="form-label">New Password</label>
                                <input type="text" class="form-control" id="password" placeholder="Enter New Password">
                            </div>





                            <button type="submit" class="btn btn-block login-btn mb-4 bg-danger"
                                id="submitbtn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        document.getElementById('submitbtn').addEventListener('click', async (e) => {

            e.preventDefault();
            const password = document.getElementById('password').value;
            console.log(password);
            const response = await fetch('/changingPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password })
            })
            try {
                const data = await response.json();
                console.log(data);
                if (data.success === true) {
                    Swal.fire({
                        Icon: "success",
                        text: data.message,
                        title: "Success"
                    })
                    window.location.href = "/login";
                } else {
                    Swal.fire({
                        Icon: "error",
                        text: data.message,
                        title: "Error"
                    })
                }

            } catch {
                Swal.fire({
                    Icon: "error",
                    text: data.message,
                    title: "Error"

                })
            }

        })





    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
</body>
    