<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USER</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/User/userlogin.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header text-white" style="background: #0b091f;">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="card-body-change-pass">
                        <div id="error-message" class="bg-danger text-white"></div> <!-- Display error message here -->

                        <form id="password-form">
                            <div class="mb-3">
                                <label class="form-label">New Password</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Enter New Password">
                            </div>
                            <button type="submit" class="btn btn-block login-btn mb-4 bg-danger"
                                id="submitbtn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById('password-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const password = document.getElementById('password').value;
            // Password validation
            if (!isStrongPassword(password)) {
                document.getElementById('error-message').innerText = 'Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.';
                return;
            }
            const response = await fetch('/changingPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password })
            });
            try {
                const data = await response.json();
                if (data.success === true) {
                    Swal.fire({
                        Icon: "success",
                        text: data.message,
                        title: "Success"
                    });
                    window.location.href = "/login";
                } else {
                    Swal.fire({
                        Icon: "error",
                        text: data.message,
                        title: "Error"
                    });
                }
            } catch (error) {
                Swal.fire({
                    Icon: "error",
                    text: "Error occurred while processing the request",
                    title: "Error"
                });
            }
        });

        // Password validation function
        function isStrongPassword(password) {
            const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.*[a-zA-Z]).{8,}$/;
            return passwordRegex.test(password);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>