<%- include('userHeader') %>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header text-white" style="background: #0b091f;">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="card-body-change-pass">
                        <p class="bg-danger text-white">
                          
                        </p>

                        <form id="otp">
                            <div class="mb-3">
                                <label for="ot" class="form-label">OTP</label>
                                <input type="otp" class="form-control" id="otp"
                                    placeholder="Enter OTP" >
                            </div>





                            <button type="submit" class="btn btn-block login-btn mb-4 bg-danger"
                                id="submitbtn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        document.getElementById('submitbtn').addEventListener('click',async(e)=>{

            e.preventDefault();
            const email=document.getElementById('email').value;
            console.log(email);
            const response=await fetch('/postResetPassword',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({email})
            })
            try{
                const data=await response.json();
            console.log(data);
            if (data.success===true){
                Swal.fire({
                    Icon:"success",
                    text:data.message,
                    title:"Success"
                })
            }else{
                Swal.fire({
                    Icon:"error",
                    text:data.message,
                    title:"Error"
                })
            }

            }catch{
                Swal.fire({
                      Icon:"error",
                    text:data.message,
                    title:"Error"

                })
            }
          
        })


        
       
        
    </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
