<%- include('userHeader') %>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header text-white" style="background: #0b091f;">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="card-body-change-pass">
                        <p class="bg-danger text-white">
                            <%=message%>
                        </p>

                        <form id="change-password" method="post" action="/resetPassword">
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">Enter your Email Id</label>
                                <input type="password" class="form-control" name="currentPassword" id="currentPassword"
                                    placeholder="Email Id" required>
                            </div>





                            <button type="submit" class="btn btn-block login-btn mb-4 bg-danger"
                                id="change-password">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('newPassword').addEventListener('input', function () {
            var password = this.value;
            var strengthBadge = document.getElementById('password-strength-feedback');
            var strength = checkPasswordStrength(password);
            var colors = ['#F00', '#F90', '#FF0', '#9F0', '#0F0'];

            if (password === '') {
                strengthBadge.innerHTML = '';
            } else {
                strengthBadge.innerHTML = 'Password strength: ' + '<span style="color: ' + colors[strength] + ';">' + strength + '</span>';
            }
        });

        function checkPasswordStrength(password) {
            var strength = 0;
            if (password.length >= 6) strength++;
            if (password.length >= 10) strength++;
            if (password.match(/[a-z]+/)) strength++;
            if (password.match(/[A-Z]+/)) strength++;
            if (password.match(/[0-9]+/)) strength++;
            if (password.match(/[$@#&!]+/)) strength++;
            return strength;
        }

        document.getElementById('change-password').addEventListener('submit', function (event) {
            var newPassword = document.getElementById('newPassword').value;
            var confirmPassword = document.getElementById('confirmPassword').value;

            if (newPassword !== confirmPassword) {
                alert('Passwords do not match.');
                event.preventDefault();
            }

            if (checkPasswordStrength(newPassword) < 3) {
                alert('Password is not strong enough.');
                event.preventDefault();
            }
        });
    </script>